# export NCCL_DEBUG=INFO

# export CUDA_LAUNCH_BLOCKING=0

# export CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7

# export NCCL_IB_DISABLE=1

# export TORCH_DIST_INIT_BARRIER=0

# export NCCL_BUFFSIZE=16777216
